:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
}

@media (min-width: 50em) {
    :root {
        font-size: 1.125em;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: #1476b8;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #1430b8;   
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #b81414;
}

/* 头部 */
.page-header {
    padding: 0.4em 1em;
    background-color: #fff;
}

@media (min-width: 35em) {
    .page-header {
        padding: 1em;
    }
}

@media (min-width: 50em) {
    .page-header {
        padding: 1em 4em;
    }
    
    @media (min-width: 50em) {
        .hero {
            padding: 7em 6em;
        }
    }

    @media (min-width: 50em) {
        main {
            padding: 2em 4em;
        }
    }

    @media (min-width: 50em) {
        .nav-menu {
            padding: 0 4em;
        }
    }
}

.title > h1 {
    color: #333;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0.2em 0;
}

/* 命中35em 以上的断点 */
@media (min-width: 35em) {
    .title > h1 {
        font-size: 2.25rem;
    }
}

.slogan {
    color: #888;
    font-size: 0.875em;
    margin: 0;
}

/* 导航栏 */
.menu {
    position: relative;
}

.menu-toggle {
    position: absolute;
    top: -1.2em;
    right: 0.1em;
    /* 覆盖浏览器的按钮样式 */
    border: 0;
    background-color: transparent;

    font-size: 3em;
    width: 1em;
    height: 1em;
    line-height: 0.4;
    /* 隐藏按钮的文本内容，将它的大小固定成 1em */
    text-indent: 5em;
    white-space: nowrap;
    overflow: hidden;
}

.menu-toggle::after {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    display: block;
    content: "\2261";
    text-indent: 0;
}

.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
}

@media (min-width: 35em) {
    .menu-toggle {
        display: none;
    }

    .menu-dropdown {
        display: block;
        /* 覆盖绝对定位 */
        position: static;
    }
}

.menu.is-open .menu-dropdown {
    display: block;
}

/* 导航菜单 */
.nav-menu {
    margin: 0;
    padding-left: 0;
    border: 1px solid #ccc;
    list-style: none;
    background-color: #000;
    color: #fff;
}

.nav-menu > li + li {
    /* 给每个菜单元素加上边框 */
    border-top: 1px solid #ccc;
}

.nav-menu > li > a {
    display: block;
    /* 使用适当的内边距确保有足够大的点击区域 */
    padding: 0.8em 1em;
    color: #fff;
    font-weight: bold;
}

@media (min-width: 35em) {
    .nav-menu {
        display: flex;
        border: 0;
        padding: 0 1em;
    }

    .nav-menu > li {
        flex: 1;
    }

    .nav-menu > li + li {
        border: 0;
    }

    .nav-menu > li > a {
        padding: 0.3em;
        text-align: center;
    }
}

/* 中间图片 */
.hero {
    padding: 2em 1em;
    text-align: center;
    background-image: url(coffee-beans.jpg);
    background-size: 100%;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.3em #000;
}

@media (min-width: 35em) {
    .hero {
        /* 增加主图的内边距和字号 */
        padding: 5em 3em;
        font-size: 1.2rem;
    }
}

/* 内容主体 */
main {
    padding: 1em;
}

@media (min-width: 35em) {
    main {
        padding: 2em 1em;
    }
}

@media (min-width: 35em) {
    .row {
        display: flex;
        /* 使用负的外边距将行容器扩大，补偿列的外边距 */
        margin-left: -.75em;
        margin-right: -.75em;
    }

    .column {
        flex: 1;
        /* 添加列边距 */
        margin-right: 0.75em;
        margin-left: 0.75em;
    }
}

.subtitle {
    margin-top: 1,5em;
    margin-bottom: 1.5em;
    font-size: 0.875rem;
    text-transform: uppercase;
}









